<html>
    <head>
        <title>Django assignment Madhav Manish Gulati</title>
    </head>
    <body>
        <marquee><h1>Hello There! Welcome to my Django Assignment</h1></marquee>
        <br/><br/>
        <h3 align = "center">I'm currently working on the project given below, with fellow colleagues</h3>
        <br/><br/>
        <img src = "C:\Users\madha\OneDrive\Desktop\DevClub-Assignment5\demo\LearningDjango\templates\playing\AOI_Homepage.png"  width="100%">
        <br/><br/>
        <h2>Thanks for stopping by :)</h2>
    </body>
</html>
